@{
    ViewData["Title"] = "Message Logger";
}

<div class="text-center">
    <h1 class="display-4">MVC Message Logger</h1>
    <p>Author: Richard Tillies | <a href="https://github.com/rtillies">rtillies</a></p>
    <p>Date: August 8-10, 2023</p>
</div>
