@model List<User>

<h1>Users</h1>

@{
	if (Model != null && Model.Count > 0)
	{
		<ul>
		@foreach (var user in Model)
		{
			<li>@user.Name: <b>@user.Username</b>
				<form action="/users/@user.Id" method="get">
					<button type="submit">Login</button>
				</form>

			</li>
		}
		</ul>
	}
	else
	{
		<p>No users to display.</p>
	}

	<p><a href="/users/new">Add User</a></p>

}